--- 
--- 

#footer {
    position: absolute;
    bottom: 0px;
    width: 100%;

    .footer-container {
        text-align: center;
        font-size: 16px;
        font-weight: 500;
        color: var(--app-light);
    }
}

@media screen and (max-width: 1399px) {
    #footer {
        bottom: 16px;

        .footer-container {}
    }
}