--- 
---

.home-page {
    margin-right: 20px;
}

.home-container {
  display: grid;
  grid-template-rows: repeat(2, auto);   /* 2 rows */
  grid-auto-flow: column;                /* Fill by column instead of row */
  gap: 1rem;
}

.home-container > div:nth-child(odd) {
  display: flex;
}

@media screen and (max-width: 1399px) {
  .home-container {
    grid-template-rows: auto;   
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-flow: row;
  }

  .home-container > div:nth-child(odd) {
    justify-content: flex-end;
    align-items: center;
  }

  .home-container > div:nth-child(even) {
    justify-content: flex-start;
    align-items: center;
  }
}