<div id="modalOverlay3" class="modal-wrapper-overlay">
    <div class="modal" id="modal-block">
            <div class="modal-container container ">
                <div id="modalControllerWrapper" class="modal-container-wrapper hamburger-menubar">
                    <ul class="hamburger-menu-list">
                        <li><a href="javascript: void();">1</a></li>
                        <li><a href="javascript: void();">2</a></li>
                        <li><a href="javascript: void();">3</a></li>
                        <li><a href="javascript: void();">4</a></li>
                    </ul>
                </div>
            </div>
        </div>
</div>