<div class="modal-ext-container modal-skill-container hidden" data-modal-page="skill-index">
    <div class="skill-container">
        <div class="upper-skill-container">
            <div class="about-me-left-uppermost-container">
                {% include components/shared/profile_title_img.html %}
            </div>

            <div class="about-me-left-middle-container">
                {% include components/shared/profile_description.html %}
            </div>
        </div>
        <div class="mid-pos-skill-container">
            {% include components/pages/skill/raw_skill.html %}
            {% include components/pages/skill/coding_skill.html %}
        </div>
    </div>
</div>