<div class="raw-skill-container">
    <h4>Raw Skill</h4>

    <div class="inner-raw-skill">
        {% include components/shared/circular_progress_bar.html percent=30 size="120px" %}
        {% include components/shared/circular_progress_bar.html percent=30 size="120px" %}
        {% include components/shared/circular_progress_bar.html percent=30 size="120px" %}
        {% include components/shared/circular_progress_bar.html percent=30 size="120px" %}
        {% include components/shared/circular_progress_bar.html percent=30 size="120px" %}
        {% include components/shared/circular_progress_bar.html percent=30 size="120px" %}
    </div>
</div>