<div class="card-menu-profile">
    <div class="img-menu-container">
        {% assign background_color = site.data.cards.cards.default.inner_color %}
        <div class="img-menu" style="background-color: {{background_color}} !important;"></div>
    </div>
    <div class="card-menu-lower-part">
        {% assign text_color = site.data.cards.cards.default.header_color %}
        <h4 style="color: {{text_color}}">{{include.data.title}}</h4>
        <a>
            {% include components/shared/arrow_icon.html 
                size=60 
                style="top: 2.5rem; left: 0rem;"
            %}
        </a>
    </div>
</div>