<div class="modal-ext-container modal-portfolio-container hidden" data-modal-page="portfolio-index">
    <div class="portfolio-container">
        <div class="chip-tags-title">
            {% for portfolio_object in site.data.portfolio.tags %}
                {% include components/shared/chip.html title=portfolio_object.title tag=portfolio_object.tag color=portfolio_object.color %}
            {% endfor %}
        </div>

        <div class="portfolio-content">
            {% for portfolio in site.data.portfolio.data %}
            {% include components/shared/portfolio_card1.html portfolio=portfolio %}
            {% endfor %}
        </div>
    </div>
    <div class="hidden" id="tempPortfolio">
        {% assign portfolio = site.data.portfolio.data[0] %}
        {% include components/shared/portfolio_card1.html portfolio=portfolio %}
    </div>
</div>


<script type="module">
    (() => {
        const portfolios = {{ site.data.portfolio.data | jsonify }};
        const tags = {{ site.data.portfolio.tags | jsonify }};
        class PortfolioIndex {
            constructor() {
                this.init();
                this.buttonEvents();
                this.chipComponentEvent();
            }

            buttonEvents() {
                $('.btnPlayIcon').on('click', (event) => this.playButtonClicked(event));
            }

            cardAnimation() {
                if (window?.modules?.CardAnimationEffect) {
                    window.modules.CardAnimationEffect.enableAnimationCardHover();
                    window.modules.CardAnimationEffect.enableHoverShowButtonsCardPreview();
                }
            }

            chipComponentEvent() {
                $('.chip-component').on('click', (event) => {
                    const tag = $(event.currentTarget).data('chip-tag');
                    console.log('Clicked tag: ', tag);
                    this.sortCategory(tag);
                });
            }

            init() {
                $(document).ready(() => {
                    this.cardAnimation();
                });
            }

            playButtonClicked(event) {
                const portfolioId = $(event.currentTarget).data('portfolio-id');
                document.getElementById('modalOverlay2').classList.remove('hidden');
                $('.modal-ext-container-2').removeClass('hidden');
                window.modules.State.addObject('portfolioId', portfolioId);
            }

            sortCategory(tag = 'all') {
                const portfolioContent = $('.portfolio-content');
                portfolioContent.empty();
                portfolios
                    .filter(portfolio => portfolio.tag == tag || tag == 'all')
                    .forEach(portfolio => {
                        const portfolioHtmlClone = $('#tempPortfolio').children().clone()
                        portfolioHtmlClone.find('.subtitle').text(portfolio.subtitle);
                        portfolioHtmlClone.find('.title').text(portfolio.title);
                        portfolioHtmlClone.find('.icon-btn').attr('data-portfolio-id', portfolio.id);
                        portfolioHtmlClone.find('.card-preview').attr('style', `background-image: url('${ portfolio?.url ?? "" }');`);
                        portfolioHtmlClone.find('.card').attr('style', `background-color: ${portfolio?.color};`);
                        portfolioContent.append(portfolioHtmlClone);
                });
                this.cardAnimation();
                this.buttonEvents();
            }
        }

        $(document).ready(() => {
            window.modules = window.modules || {};
            window.modules.PortfolioIndex = new PortfolioIndex();
        });
    })();
</script>