.common-multi-checkboxes-wrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;
    flex: none !important;
    justify-content: flex-start;
    align-items: start;
    width: 100%;

    .common-checkboxes-choice-wrapper {
        margin-top: 8px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 8px;
        width: 100%;
        // display: flex;
        // flex-direction: row;
        // flex-wrap: wrap;
        // column-gap: 32px;
        // row-gap: 8px;

        .common-mutiple-input-wrapper {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 8px;

            span {
                font-size: 16px;
                font-weight: 600;
                color: var(--app-light);
            }
        }

        label {
            font-size: 18px;
            font-weight: 600;
            color: var(--app-light);
            text-wrap-mode: wrap;
        }

        input {
            padding: 12px 2px;
            border: 1px solid var(--app-gray-dark);
            font-size: 16px;
            color: var(--app-light);
            background-color: var(--app-gray-darker);
            border-bottom: 2px solid var(--app-gray-light);

            &:focus {
                outline: none;
                border-color: var(--app-blue);
                box-shadow: 0 0 0 2px var(--app-blue-light);
            }
        }
    }

    .common-multi-checkboxes-title {
        font-size: 18px;
        font-weight: 600;
        color: var(--app-light);
        display: flex;
        align-items: center;
        gap: 8px;
    }
}