.contact-card:hover {
  transform: translateY(-2px);
  transition: 0.3s ease;
}
.contact-card {
  display: flex;
  align-items: center;
  gap: 24px;
  color: white;
  padding: 4px 0px;
  border-radius: 8px;
  max-width: 300px;
}

.icon {
    background-color: white;
    border: 4px solid #e32626;
    border-radius: 50%;
    padding: 9px;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon img {
    width: 16px;
    height: 16px;
}

.info h4 {
  color: #e32626; /* red text for label */
  margin: 0;
  font-size: 16px;
}

.info p {
  margin: 0;
  font-weight: bold;
  color: white;
  font-size: 14px;
}