.edge-icon {
    background-image: url('/assets/icons/edge.svg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: block;
    box-sizing: border-box;
    position: absolute;
}