.profile-tag-headline-text {
    font-size: 18px;
    font-weight: 600;
    line-height: 1.2;
    padding-bottom: 5px;
}

.li-tag-headline {
    display: flex;
    flex-direction: row;
    column-gap: 1rem;
    align-items: center;
}