.profile-tag-headline-text {
    font-size: 15px;
    font-weight: 500;
    line-height: 1.25;
    padding-bottom: 6px;
}

.li-tag-headline {
    display: flex;
    flex-direction: row;
    column-gap: 0.7rem;
    align-items: center;
}
