
.profile-title-img-container {
    display: flex;
    flex-direction: row;
    column-gap: 1rem;
    align-items: flex-end;

    > .prof-img-info-container {
        background-color: var(--app-light);
        width: fit-content;
        border-radius: 99%;
        position: relative;
        overflow: hidden;

        > .prof-img-info {
            background-image: url('/assets/img/profile.png');
            background-size: 100%;
            background-repeat: no-repeat;
            padding: 5px;
            left: 50%;
            transform: translateX(-50%) scale(1.4);;
            position: relative;
            bottom: -10px;
        }
    }

    > .prof-name-position {
        display: flex;
        flex-direction: column;
        
        > h3 {
            font-size: 36px;
            color: var(--app-light);
        }
        > p {
            font-size: 22px;
            color: var(--app-light);
        }
    }
}