{% assign social_list_class = include.list_class | default: "nav-menus" %}

<ul class="{{ social_list_class }}">
    {% for nav_menu in site.data.social_media_icons %}
    <li class="nav-menu">
        <a href="https://{{nav_menu.url}}" target="_blank" rel="noopener noreferrer" aria-label="{{ nav_menu.name }}">
            <span class="icon-nav-menu-i">
                <img class="icon-nav-menu-img" src="{{ nav_menu.icon_path }}" alt="{{ nav_menu.name }} icon" />
            </span>
        </a>
    </li>
    {% endfor %}
</ul>
